@media (max-width: 1199px) {
    .promo {
        background-color: var(--gray-blue-color);
    }

    .promo__subtitle {
        font-size: 150px;
    }

    .promo__desc {
        font-size: 30px;
    }
}

@media (max-width: 991px) {
    .promo {
        height: 100vh;
        padding-top: 30%;
        padding-bottom: 38%;
        background-color: var(--gray-red-color);
    }

    .promo__subtitle {
        font-size: 100px;
    }

    .promo__desc {
        font-size: 26px;
    }

    .promo__buy {
        position: absolute;
        left: 22%;
    }

    .models {
        margin-top: 35px;
    }

    .models__img {
        height: 580px;
    }

    .models__desc {
        font-size: 26px;
    }

    .product {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .promo {
        background-color: var(--gray-green-color);
    }

    .promo__buy {
        bottom: 15%;
    }

    .product__desc {
        max-width: ;
    }
}

@media (max-width: 575px) {

    .promo {
        position: relative;
        padding-top: 0;
        background-color: var(--gray-purple-color);
    }

    .promo__phone {
        display: block;
        position: absolute;
        top: 18%;
        max-width: 55%;
    }

    .promo__features {
        margin-top: 10%;
    }

    .promo__subtitle {
        font-size: 65px;
        padding-left: 7%;
    }

    .promo__desc {
        padding-left: 5%;
        padding-top: 47vh;
        font-size: 19px;
    }

    .promo__buy {
        max-width: 250px;
        max-height: 45px;
        font-size: 22px;
        left: 16%;
        bottom: 5%;
    }

    .promo__link {
        max-height: 45px;
    }

    .promo__price {
        max-height: 45px;
    }

    .main  {
        padding-bottom: 40px;
        /* overflow-x: hidden; */
    }

    .main__title {
        font-size: 18px;
    }

    .main__subtitle {
        font-size: 45px;
    }

    .models {
        margin-top: 15px;
    }

    .models__title {
        margin-top: 15px;
        font-size: 26px;
    }

    .models__desc {
        font-size: 16px;
    }

    .models__img {
        max-width: 208.5px;
        max-height: 315px;
    }

    .product {
        margin-top: 0;
    }

    .product__title {
        font-size: 26px;
    }

    .product__desc {
        font-size: 16px;
        margin-top: 25px;
    }

}