html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
    font-family: 'League Spartan', sans-serif;
}

.header {
    width: 1440px;
    display: flex;
    padding: 10px 240px 176px 133px;
    background-color: #F8F8F8;
}

.header__preview {
    /* margin-top: 104px; */
    padding-top: 104px;
}

.header__title {
    font-weight: 300;
    font-size: 24px;
}

.header__subtitle {
    margin-top: 53px;
    font-weight: 300;
    font-size: 250px;
}

.header__desc {
    width: 575px;
    margin-top: 30px;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
}

.buy {
    display: flex;
    width: 421px;
    height: 82px;
    margin-top: 52px;
}

.buy__link {
    width: 278px;
    padding-top: 26px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 32px;
    line-height: 29px;
    background-color: #161515;

}

.buy__price {
    width: 143px;
    padding-top: 26px;
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    color: #272727;
    background-color: #FFFFFF;
}

.header__img {
  padding-left: 40px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  text-align: center;
}

.main__title {
  font-weight: 300;
  font-size: 24px;
}

.main__subtitle {
  font-weight: 400;
  font-size: 72px;
  margin-top: 16px;
}

.models {
  width: 530px;
  margin: 70px auto 0;
/*   border: 1px solid red; */
}

.models__img  {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;
  height: 630px;
  margin: 0 auto;
  background-color: #F8F8F8;
}

.models__item {
  margin-top: 68px;
  width: 530px;
}

.models__title {
  font-weight: 400;
  font-size: 32px;
}

.models__desc {
  margin-top: 14px;
  font-weight: 300;
  font-size: 32px;
  line-height: 155%;
}