@font-face {
  font-family: 'League Spartan';
  src: url('../fonts/League-Spartan.ttf') format('truetype');
  display: swap;
}

:root {
  --main-bg-color: #F8F8F8;
  --main-primari-color: #161515;
  --black-color: #000000;
  --white-color: #FFFFFF;
  --dark-brown-color: #272727;
  --yellow-brown-color: #BB8B5D;
  --gray-color: #707070;
  --gray-blue-color: #70858b;
  --gray-red-color: #8a7979;
  --gray-green-color: #869b84;
  --gray-purple-color: #797a8d;
  }

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  font-size: 32px;
}

.promo  {
  padding-top: 2px;
  padding-bottom: 176px;
  background-color: var(--main-bg-color);
}

.promo__features {
  margin-top: 110px;
}

.promo__title {
  font-size: 24px;
  color: var(--main-primari-color);
}

.promo__subtitle {
  font-size: 250px;
  margin-top: -15px;
  color: var(--dark-brown-color);
}

.promo__desc {
  line-height: 155%;
  color: var(--main-primari-color);
}

.promo__buy {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.promo__link {
  width: 278px;
  height: 82px;
  line-height: 80px;
  text-align: center;
  background-color: var(--main-primari-color);
}

.promo__link--decor {
  text-decoration: none;
  color: var(--white-color);
}

.promo__price {
  width: 143px;
  height: 82px;
  text-align: center;
  line-height: 245%;
  color: var(--dark-brown-color);
  background-color: var(--white-color);
}

.main {
  padding-top: 40px;
  padding-bottom: 142px;
  text-align: center;
}

.main__title {
  font-size: 24px;
  color: var(--black-color);
}

.main__subtitle {
  margin-top: 2px;
  font-weight: 400;
  font-size: 72px;
  line-height: 100%;
  color: var(--black-color);
}

.models {
  margin-top: 84px;
}

.models__img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 417px;
  height: 630px;
  background-color: var(--main-bg-color);
}

.models__title {
  margin-top: 46px;
  font-weight: 400;
  color: var(--black-color);
}

.models__desc {
  max-width: 531px;
  height: 238px;
  margin-top: 5px;
  color: var(--main-primari-color);
}

.product {
  margin-top: 59px;
}

.product__title {
  font-weight: 400;
  text-transform: capitalize;
  color: var(--main-primari-color);
}

.product__title::after {
  content: '';
  display: block;
  width: 178px;
  height: 1px;
  margin: 0 auto;
  background-color: var(--gray-color);
}

.product__desc {
  margin-top: 49px;
  font-size: 24px;
  line-height: 170%;
  color: var(--main-primari-color);
}

.product__link {
  font-weight: 500;
  color: var(--yellow-brown-color);
}